* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  size: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

h2 {
  background-color: midnightblue;
  color: white;
  font-family: "Archivo Narrow", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px; }

img {
  max-width: 100%; }

body {
  background-image: url(../css/fotos/ladrillos.jpg); }
  body .header {
    color: black;
    text-align: right;
    letter-spacing: 3px;
    font-weight: normal; }
    body .header .header__img {
      margin: 5px; }
    body .header .header__nav {
      margin-top: 20px; }
      body .header .header__nav ul li {
        text-align: end;
        display: inline-block;
        text-decoration: none; }
        body .header .header__nav ul li a {
          display: inline-block;
          word-spacing: 50%;
          text-decoration: none;
          text-transform: uppercase;
          font-weight: bold;
          letter-spacing: 1px;
          color: #111111;
          font-size: 18px;
          font-family: "Archivo Narrow", sans-serif;
          transition: 1s; }
        body .header .header__nav ul li a:hover {
          color: #d11736; }

.hero {
  height: 580px;
  padding-top: 220px;
  background-image: url(./fotos/barra.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.hero__texto {
  margin: 12px; }
  .hero__texto span {
    font-size: 14px;
    color: #ff9558;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    font-weight: 600; }
  .hero__texto h1 {
    font-size: 72px;
    color: white;
    -webkit-text-stroke: 2.5px black;
    font-weight: 600;
    margin-bottom: 0px; }
  .hero__texto p {
    font-family: "Archivo Narrow", sans-serif;
    font-size: 25px;
    color: black;
    margin-bottom: 44px; }
  .hero__texto a {
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 3px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 7px;
    margin: 30px;
    color: white;
    background: black;
    border-radius: 7px;
    transition: 0.5s; }
  .hero__texto a:hover {
    background-color: grey;
    transition: 0.5s; }

.nosotros {
  padding: 25px; }
  .nosotros .nosotros__texto {
    font-family: "Archivo Narrow", sans-serif; }
    .nosotros .nosotros__texto .nosotros__texto--titulo {
      font-family: "Archivo Narrow", sans-serif;
      color: #d11736;
      background: none;
      text-transform: uppercase;
      font-weight: bold;
      text-align: center; }
    .nosotros .nosotros__texto .nosotros__texto--para {
      font-family: "Montserrat", sans-serif;
      color: black;
      letter-spacing: 2px;
      text-align: center;
      line-height: 1.2;
      margin-top: 25PX; }

.queEs {
  padding: 25px; }
  .queEs .queEs__texto h2 {
    font-family: "Archivo Narrow", sans-serif;
    color: #d11736;
    background: none;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center; }
  .queEs .queEs__texto .queEs__texto--para {
    font-family: "Montserrat", sans-serif;
    color: black;
    letter-spacing: 2px;
    text-align: center;
    line-height: 1.2;
    margin-top: 25PX; }

.carousel .carousel__img {
  height: 350px;
  width: 100%; }

.galeria img {
  height: 800px;
  width: auto; }

.formulario, .nosotros, .queEs {
  background-color: #ffffff;
  border: #111111 solid;
  padding: 4px;
  margin: 30px; }

.ubicacion {
  align-items: center; }
  .ubicacion .ubicacion__mapa {
    margin-left: 45px;
    margin-top: 15px;
    margin-bottom: 15px; }
  .ubicacion .ubicacion__texto {
    font-family: "Montserrat", sans-serif;
    color: black;
    background-color: #ffffff;
    border: solid black;
    letter-spacing: 2px;
    text-align: center;
    line-height: 1.2;
    margin-top: 25PX; }

.footer {
  background-color: #272727;
  text-align: center;
  margin: auto; }
  .footer .footer__telefono .footer__telefono--titulo {
    color: #ff9558;
    text-decoration: underline; }
  .footer .footer__telefono .footer__telefono--texto {
    color: #ffffff; }
  .footer .footer__direccion .footer__direccion--titulo {
    color: #ff9558;
    text-decoration: underline; }
  .footer .footer__direccion .footer__direccion--texto {
    color: #ffffff; }
  .footer .footer__mail .footer__mail--titulo {
    color: #ff9558;
    text-decoration: underline; }
  .footer .footer__mail .footer__mail--texto {
    color: #ffffff; }
