$title-color: #d11736;
$secondary-color: #ff9558;
$white-color: #ffffff;
$para-color: #6b6b6b;
$title-font: 'Archivo Narrow', sans-serif;
$para-font:'Montserrat', sans-serif;

@mixin font($text-transform, $font-weight){
	text-transform: $text-transform;
	font-weight: $font-weight;
}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html{
	size: 100%;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
h2{
	background-color: midnightblue;
	color: white;
	font-family: $title-font;
	text-align: center;
	text-transform: uppercase;
	font-size: 40px;
}
img {
  max-width: 100%;
}

body{
  background-image: url(../css/fotos/ladrillos.jpg);
      .header{
        color: black;
        text-align: right; 
        letter-spacing: 3px; 
        font-weight: normal;
        .header__img{
          margin: 5px ;
        }
    	.header__nav{
          margin-top: 20px;
          ul{ 
            li{
              text-align: end;
              display: inline-block;
			  text-decoration: none;
              a{
				display: inline-block;
				word-spacing: 50%;
				text-decoration: none;
				@include font(uppercase, bold)
				letter-spacing: 1px;
                color: #111111;;
                font-size: 18px;
				font-family: $title-font;
				transition: 1s;
			  }
			  a:hover{
				  color: $title-color;
			  }
            }
          }
        }
      }
}

.hero {
height: 580px;
padding-top: 220px;
background-image: url(./fotos/barra.jpg);
background-size: cover;
background-repeat: no-repeat; 
background-position: center;}


.hero__texto {
	margin: 12px;
	span {
		font-size: 14px;
		color: $secondary-color;
		@include font(uppercase, bold);
		letter-spacing: 2px;
		font-weight: 600;
	}
	h1 {
		font-size: 72px;
		color: white;
		-webkit-text-stroke: 2.5px black;
		font-weight: 600;
		margin-bottom: 0px;
	}
	p {
		font-family: $title-font;
		font-size: 25px;
		color: black;
		margin-bottom: 44px;

  }
 a {
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 3px;
    font-weight: bold;
    text-transform: uppercase;
	padding: 7px;
	margin: 30px;
    color: white;
    background: black;
    border-radius: 7px;
    transition: 0.5s;
  }
  a:hover{
    background-color: grey ;
    transition: 0.5s;
    }
}

.nosotros{
  @extend .formulario;
  padding: 25px;

	.nosotros__texto{
		font-family: $title-font;
		.nosotros__texto--titulo {
			font-family: $title-font;
			color: $title-color;
			background: none;
			@include font(uppercase, bold);
			text-align: center;
	 	}
		.nosotros__texto--para{
			font-family: $para-font;
			color: black;
			letter-spacing: 2px;
			text-align: center;
			line-height: 1.2;
			margin-top: 25PX;
	  	}
  }

}

.queEs{
	@extend .formulario;
	padding: 25px;

	.queEs__texto{
		h2{
			font-family: $title-font;
			color: $title-color;
			background: none;
			@include font(uppercase, bold);
			text-align: center;
		}

		.queEs__texto--para{
			font-family: $para-font;
			color: black;
			letter-spacing: 2px;
			text-align: center;
			line-height: 1.2;
			margin-top: 25PX;
		}
	}
	.queEs__video{  
	}
}

.carousel{

	.carousel__indicadores{
		
	}
	.carousel__img{
		height: 350px;
		width: 100%;
	}
}

.galeria{
	img{
		height: 800px ;
		width: auto;
	}
}
.formulario{
	background-color: $white-color;
	border: #111111 solid;
	padding: 4px;
	margin: 30px;
}
.ubicacion{
	align-items: center;
	.ubicacion__mapa{
		margin-left: 45px;
		margin-top: 15px;
		margin-bottom: 15px;
	}	
	.ubicacion__texto{
			font-family: $para-font;
			color: black;
			background-color: #ffffff;
			border: solid black;
			letter-spacing: 2px;
			text-align: center;
			line-height: 1.2;
			margin-top: 25PX;
	}
}
.footer{
  	background-color: #272727;
  	text-align: center;
	margin: auto;
	.footer__telefono{
		.footer__telefono--titulo{
			color: $secondary-color;
			text-decoration: underline;
		}
		.footer__telefono--texto{
			color: $white-color;
		}
	}
	.footer__direccion{
		.footer__direccion--titulo{
			color: $secondary-color;
			text-decoration: underline;
		}
		.footer__direccion--texto{
			color: $white-color;
		}
	}
	.footer__mail{
		.footer__mail--titulo{
			color: $secondary-color;
			text-decoration: underline;
		}
		.footer__mail--texto{
			color: $white-color;
		}
	}
}